<div class="row">
  	<div class="col-md-4 col-md-offset-4 bgray" style="padding: 30px">
		<%= image_tag @user.avatar.url(:medium), class: "img-circle" %>

		<%= @user.name %>
		</br>
		<%= @user.location %>
		</br>
		<%= @user.email %>
		</br>
		<%= @user.description %>

	</div>
</div>

