<div class="row">
	<div class="col-md-4 col-md-offset-4 bg-gray" style="padding: 30px">
		<%= image_tag @user.avatar.url(:large), class: "img-rounded" %>
		<div id="info-user">
			</br>
			<h4>Name:</h4>
			<p><%= @user.name %></p>
			</br>
			<h4>Location:</h4>
			<p><%= @user.location %></p>
			</br>
			<h4>Email:</h4>
			<p><%= @user.email %></p>
			</br>
			<h4>Description:</h4>
			<p><%= @user.description %></p>
			</br>
		</div>
		<div>
			<a class= "btn btn-secondary" href="/../items"> < Go to index</a>
			<a class= "btn btn-secondary" href="#"> Change profile</a>
		</div>
	</div>
</div>
