<%= content_for	:header do %>
	<div class="container" id="nav">
		<div id="logo">
			<%= image_tag("logo-small.png", alt: "logo") %>
		</div>
		<div id="head-btn">
			<a class= "btn btn-primary" href="users/1/items/new">+ Create item</a>
			<a class= "btn btn-secondary" href="users/new">New user</a>
		</div>
		<div id="search">
			<input type="search"/>
		</div>
	</div>
<% end %>

<div id="list" class="row">
	<ul>
		<% @items.each do |item| %>
			<li id="item" class="col-xs-6 col-md-4">
			   <%= image_tag item.picture.url(:medium) %>
					</br>
				<p id="ItemName"> <%= item.name %> </p>
				</br>
				<%= item.date %>
				</br>
				<%= item.description %>
				</br>
				<%= item.price %> €
				</br>
				<button class= "btn btn-primary btn-xs">Share it!</button>
				<button class= "btn btn-xs">View</button>
			</li>
		<% end %>
	</ul>
</div>
