<div id="list" class="row">
	<ul>
		<% @items.each do |item| %>
			<li id="item" class="col-md-4 col-xs-6">
				<div id="itemImg">
			   		<%= image_tag item.picture.url(:medium) %>
				</div>
					</br>
				<p id="itemName"> <%= item.name %> </p>
				</br>
				<%= item.description %>
				</br>
				<%= item.price %> €
				</br>
				<%= item.date %>
				</br>
				<div id="BtnItem">
					<button class= "btn btn-sm btn-success">Share it!</button>
					<button class= "btn btn-sm">View</button>
				</div>
			</li>
		<% end %>
	</ul>
</div>
