<% @item.errors.each do |field, error| %>
	<p><%= "#{field} #{error}" %></p>
<% end %>

<div>
	<div class="row">
	  	<div class="col-md-4 col-md-offset-4 bgray" style="padding: 30px">

			<%= form_for  [@user, @item] do |f| %>
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control" %>
				</br>
				<%= f.label :picture %>
				<%= f.file_field :picture%>
				</br>
				<%= f.label :price %>
				<%= f.text_field :price, class: "form-control" %>
				</br>
				<%= f.label :date %> Until  when you want the item to be online.
				<%= f.date_select :date, {}, {:class => "form-control date"} %>
				</br>
				<%= f.label :description %> (optional)
				<%= f.text_field :description, class: "form-control" %>
				</br>
				<%= f.submit class: "btn btn-primary btn-sm" %>
			<% end %>
		</div>
	</div>
</div>
