<div class="row">
  	<div class="col-md-4 col-md-offset-4 bgray" style="padding: 30px">
  		<div>
		<%= image_tag @item.picture.url(:medium) %>
		</div>
		<%= @item.name %>
		</br>
		<%= @item.date %>
		</br>
		<%= @item.description %>
		</br>
		<%= @user.price %> €
	</div>
</div>
