<!DOCTYPE html>
<html>
	<head>
	  <title>ShareProject</title>
	  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= stylesheet_link_tag  'home', media: 'all', 'data-turbolinks-track' => true %>
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
	<body>

		<ul class="sm">
			<li class="ib ">Follow us: </li>
			<li class="ib fa fa-twitter" alt="Twitter"></li>
			<li class="ib fa fa-instagram"></li>
			<li class="ib fa fa-google-plus" alt="Google +"></li>
			<li class="ib fa fa-facebook" alt="Pinterest"></li>
		</ul>

		<div class="info">
			<%= image_tag("logo-big.png", :alt => "logo", class: "img-responsive") %>
			<p>Where you will save money sharing with friends.</p>
			<div class="buttons-home">
			<%= link_to 'Sign in', new_user_session_path, class: "btn btn-default" %>
			<%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
			</div>
		</div>

		<footer>
			<ul class="menu">
				<li class="ib">Contact us</li>
				<li class="ib">Policy</li>
				<li class="ib">Save &amp; Share &copy;</li>
			</ul>
		</footer>

	</body>
</html>








