<!DOCTYPE html>
<html>
<head>
  <title>ShareProject</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
</head>
<body>

	<% if flash[:notice].present? %>
	<p class="alert alert-success"><%= flash[:notice] %></p>
	<% end %>

<%= yield %>

<footer>
		<ul class="menu">
			<li class="ib">Contact us</li>
			<li class="ib">Policy</li>
			<li class="ib">Save & Share ©</li>
		</ul>
</footer>

</body>

</html>
